/***************************
****************************
Reset Styles
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/


/***************************
****************************
Layout Styles
****************************
***************************/


/***************************
****************************
Module Styles
****************************
***************************/


/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
    background: #F7941E; /*Orange*/
  }
  .background-secondary {
    background: #00AEEF; /*Blue*/
  }
  .background-tertiary {
    background: #8DC63F; /*Green*/
  }

  /* color palette */
  /* #2c3531;
  #116466;
  #d9b08c;
  #ffcb9a;
  #d1e8e2; */
  