$primary: #3b3b3b !default;
$secondary: #235152 !default;
$tetriary: #126264 !default;
$quinary: #d1e8e2 !default;

/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
    background: $primary; 
  }
  .background-secondary {
    background: $secondary; 
  }
  .background-tertiary {
    background: $tetriary; 
  }
  .background-quinary {
    background: $quinary;
}

  /* color palette */
  /* #2c3531;
  #116466;
  #d9b08c;
  #ffcb9a;
  #d1e8e2; */
  