/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
    background: #F7941E; /*Orange*/
  }
  .background-secondary {
    background: #00AEEF; /*Blue*/
  }
  .background-tertiary {
    background: #8DC63F; /*Green*/
  }
  .background-quinary {
    background: #d1e8e2;
}

  /* color palette */
  /* #2c3531;
  #116466;
  #d9b08c;
  #ffcb9a;
  #d1e8e2; */
  