$gutter: 30px;
$gutter-margin: ($gutter / 2);

/***************************
****************************
Layout Styles
****************************
***************************/
.container {
    padding-top: $gutter;
    padding-bottom: $gutter;
    padding-right: $gutter-margin;
    padding-left: $gutter-margin;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
  }
  /* Note: The code that we just added above does the following things for us:
    It pads the left and right 15px to make sure our content does not run directly 
      to the edge and to set up the base for our 30px grid gutter.
    It sets the margins to auto center the container on the screen.
    It sets max-width:1170px, because when you add the left and right padding with the max-width, 
      you get 1200px which is our large device breakpoint. */
  .row { 
    /* Since the .container has a padding of 15px, we add a margin of -15px to the .row to make it flush with the .container. */
    margin-right: (-$gutter-margin);
    margin-left: (-$gutter-margin);
  } 
  .row:after { /* clear floats */
    content: "";
    display: table;
    clear: both;
  }
  
  [class*='col-'] {
    /* CSS selector that targets all classes that start with .col- */
    width: 100%;
    padding-left: $gutter-margin;
    padding-right: $gutter-margin;
  }
  
  /* Media Query excludes extra small devices and includes small and above */
  @media (min-width: 48em) {
    [class*='col-'] {
        float: left;
        min-height: 1px; /* when blank, it does not collapse horizontally */
    }
    /* Column Third */
    .col-1-3 {
        width: (100% / 3);
    }
    /* Column Two Thirds */
    .col-2-3 {
        width: (100% / 1.5);
    }
    /* Column Half */
    .col-1-2 {
        width: (100% / 2);
    }
    /* Column One fourth */
    .col-1-4 {
        width: (100% / 4);
    }
    /* Column One sixth */
    .col-1-6 {
        width: (100% / 6);
    }
  }
  
  @media (min-width: 48em) {
    .pull-right-sm {
      float:right;
    }
  }
  @media only screen and (max-width : 47.9375em) { /* Note: This is the size from the last media query minus a pixel. */
    .remove-gutter-xs {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  /* Flexbox Layout*/

  @include small-and-above {
    .flexbox-sm {
      @include flexbox-display();
      [class*='col-'] {
        float: none;
      }
      .col-2-3 {
        @include flex(0 1 66.6666%);
      }
      /* Column Third */
      .col-1-3 {
        @include flex(0 1 33.3333%); 
      }
      /* Column Half */
      .col-1-2 {
        @include flex(0 1 50%);
      }
    }
    .flexbox-sm-row-reverse {
      -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

  }