/*Background Modules*/
.bg-image  {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .bg-image > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
  }
  .hero-primary.bg-image > img {
    opacity: 0.55;
  }
  .hero-secondary.bg-image > img {
    opacity: 0.25;
  }
  .hero-body {
    position: relative;
  }
  