/*Background Modules*/
.bg-image  {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .bg-image > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 100%;
    @include small-and-above{
      height: unset;
      width: 100%;
    }
  }
  .hero-primary.bg-image > img {
    opacity: 0.55;
  }
  .hero-secondary.bg-image > img {
    opacity: 0.25;
  }
  .hero-body {
    position: relative;
  }
  .media-featured > .featured-image > img {
    width: 100%;
  }
  .featured-image {
    border-top: 4px solid;
    &.featured-image-1{
      border-top-color: $orange;
      .tab {
        background-color: $orange;
      }
    }
    &.featured-image-2{
      border-top-color: $light;
      .tab {
        background-color: $light;
      }
    }
    &.featured-image-3{
      border-top-color: $bright;
      .tab {
        background-color: $bright;
      }
    }
  }
  