.frame {
    overflow: hidden; /* hide the edges of any image larger than the .frame. */
}
.frame-primary {
    @include circle(200px);
    margin: 25px auto 40px auto; /* center */
    img {
        height: 100%;
    }
    @include small-and-above {
        @include circle(230px);
        position: relative;
        top: -50px;
        margin: 0 auto;
    }
    @include medium-and-above { /* devices that are larger than iPad. */
        @include circle(300px);
    }
}