/*Logo Modules*/
.logo {
    overflow: hidden; /* Mask the logo on mobile view*/
    display: inline-block;
  }
  .logo-primary {
    width: 84px;
    height: 84px;
    @include small-and-above {
      width: auto;
      height: 44px;
      margin-right: auto; 
      /* In a Flexbox container, a margin set to auto will absorb the extra space. 
      This is why the logo pulls to the left side of the container. */
    }
    @include medium-and-above {
      height: 70px;
    }

  }
  .logo-primary img {
    height: 100%;
  }
  .logo:hover {
    overflow: unset;
  }
  .logo-primary img:hover {
    height: 110%;
    transition: all 0.3s ease 0s; 
  }