/*Logo Modules*/
.logo {
    overflow: hidden; /* Mask the logo on mobile view*/
    display: inline-block;
  }
  .logo-primary {
    width: 78px;
    height: 84px;
    @include small-and-above {
      width: auto;
      height: 80px;
      margin-right: auto; /* In a Flexbox container, a margin set to auto will absorb the extra space. This is why the logo pulls to the left side of the container. */
    }

  }
  .logo-primary img {
    height: 100%;
  }