/*Media Object Module*/
.media, .media-body, .media-featured {
    overflow:hidden;
    /* This will stop the media object's content from wrapping. */
  }
  .media {
    padding: 5% 0; 
  }
  .media-item {
    float:left;
    margin-right: 1.7em;
  }
  .media-item i {
    color: #2c3531;
    font-size: 5em;
  }
  .media-heading {
    margin: 0em;
    font-size: 1.7em;
  }
  .media-featured {
    .media-body {
      padding: 5%;
    }
  }
  .tab {
    position: absolute;
    display: inline-block;
    color: white;
    padding: 15px;
    font-weight: bold;
  }