/*Navigation Modules*/
.nav > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .nav-primary {
    margin-top: 35px;
    display: none; /* hide for mobile */
    @include small-and-above {
      margin-top: 0px;
      li {
        display: inline-block;
        border-right: 1px solid white;
    }
    }
    @include medium-and-above {
      margin-top: 15px;
    }
  }
  
  @media (min-width: 48em) {
    .nav-primary {
      display: block;
    }
  }