/*Navigation Modules*/
.nav > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .nav-primary {
    margin-top: 35px;
    display: none; /* hide for mobile */
    @include small-and-above {
      float: right;
      width: 60%;
      text-align: right;
      margin-top: 20px;
      li {
        display: inline-block;
    }
    }
  }
  
  @media (min-width: 48em) {
    .nav-primary {
      display: block;
    }
  }